%html
  %head
    %title
      = @company.name
  %body
    %ul
      %li
        %a{:href=> "/company/raw/#{@company.id}.json"} JSON
        %a{:href=> "/company/add/#{@company.id}.json", :target => '_new'} Add to Cart
    %br
    = hashie_to_ul @company