%html
  %title Salesforce Demo
  %body
    %h1 Salesforce Demo
    %tt
      %ul
        %li
          %a{:href => '/accounts'} Accounts
        %li
          %a{:href => '/opportunities'} Opportunities
        %li
          %a{:href => '/leads'} Leads
