%html
  %title Salesforce Demo
  %body
    %div{:style => 'dsiplay:inline; float:left'}
      %h1 Salesforce
      %tt
        %ul
          %li
            %a{:href => '/accounts'} Accounts
          %li
            %a{:href => '/opportunities'} Opportunities
          %li
            %a{:href => '/leads'} Leads
    %div{:style => 'dsiplay:inline; float:left'}
      %h1 Linked In
      %tt
        %ul
          %li
            %a{:href => '/companies?q=vmware'} Companies