.grid_4
  .white.top_boxes
    %h3 Salesforce
    %p Finally select an object type to generate data for:
    %ul
      %li
        %a{:href => '/accounts'} Accounts
      %li
        %a{:href => '/opportunities'} Opportunities
      %li
        %a{:href => '/leads'} Leads
    %p
      %span Source:
      %a{:href=> "#{instance_url}/home/home.jsp", :target => "blank"}
        =instance_url
    %p
      %a{:href => '/salesforce/instance'} Change Instance
    %p
      %a{:href=> "/chatter_user/me"} My Account