.grid_12
  %ul.menu
    %li
      %a{:href=>"/#{@controller}.json"} JSON
    %li
      %a{:href=>"/#{@controller}/create?name="} New
.clear
.grid_8
  -unless @data.nil?
    = @data
  -else
    %p No records.
